<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruit Show Page</title>
  </head>
  <body>
    <h1><% fruit.name %></h1> <!-- Display fruit name-->
    <!-- Add more details about the fruit here -->
  </body>
</html>
